#Ignore folder public If using netlify 
public
public_web  
resources
narratives
images_archive
.vscode

# Ignore folder archive
archive
_archive

# History files
.Rhistory
# Session Data files
.RData
# RStudio files
.Rproj.user/
# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Excel Text files
*.xlsx
*.txt

# Old images
marco_prof.jpg
marco_prof_2.jpg
*.docx
index.html
