{{ define "header"}}
    {{- partial "_shared/navbar_large.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">

    <main class="resumeCanvas">
        <div class="gridParent">
            <header class="flex-row">{{ partial "cv_header" . }}</header>

        <div class="leftSide">
            {{ if .Site.Params.display.aboutMe }}
                {{ partial "cv_about-me" . }}
            {{ end }}
            
            {{ if .Site.Params.display.experience }}
                {{ partial "cv_experience" . }}
            {{ end }}

            {{ if .Site.Params.display.projects }}
                {{ partial "cv_projects" . }}
            {{ end }}
        
            {{ if .Site.Params.display.publications }}
                {{ partial "cv_publications" . }}
            {{ end }}

            {{ if .Site.Params.display.certificates }}
            {{ partial "cv_certificates" . }}
            {{ end }}

            {{ if .Site.Params.display.skills_grouped }}
                {{ partial "cv_skills_grouped" . }}
            {{ end }}

        </div>

        <div class="rightSide">
             {{ if .Site.Params.display.education }}
                {{ partial "cv_education" . }}
            {{ end }}

            {{ if .Site.Params.display.languages }}
                {{ partial "cv_languages" . }}
            {{ end }}

            {{ if .Site.Params.display.awards }}
                {{ partial "cv_awards" . }}
            {{ end }}

            {{ if .Site.Params.display.skills }}
                {{ partial "cv_skills" . }}
            {{ end }}

            {{ if .Site.Params.display.interests }}
                {{ partial "cv_interests" . }}
            {{ end }}
        </div>
		</div>
    </main>
    {{ if .Site.Params.display.footer.footer }}
    <footer>{{ partial "cv_footer" .}}</footer>
    {{ end }}


</div>

<!-- {{- partial "_shared/alertbar.html" . -}} -->
<!-- Temporarily deactiated the footer for the CV -->
<!-- {{- partial "_shared/social_v2.html" . -}} -->
{{ end }}

{{ define "footer"}}
    {{- partial "_shared/footer_large.html" . -}}
{{ end }}